{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "importOrder": [
    "^next/(.*)$",
    "^@chakra-ui/(.*)$",
    "^framer-motion(.*)$",
    "^react-icons/(.*)$",
    "^@fontsource/(.*)$",
    "^@portabletext/(.*)$",
    "lib(.*)$",
    "components(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
